* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  background-color: #ffffff !important;
}